
<section class="ui segment">
	<h4 class="ui  blue block header">Published Posts</h4>
	#{list items:user.posts, as:'post'}
	<h5 class="ui  blue block header">${post.title}</h5>
	<p>${post.content}:</p>

	<section class="ui segment">
		#{list items:post.comments, as:'comment'}
		<p>
			${user.firstName} ${user.lastName} - <b>${comment.content}</b> <i> ( ${comment.postDate.format('dd MMMM yyyy')} )  </i>
		</p>

		#{/list}
	</section>

	<section class="ui form segment">
		<h4 class="ui  blue block header">Reply to this Post</h4>
		<form action="/blog/newcomment/${post.id}" method="POST">
			<div class="field">
				<textarea name="content" placeholder="Comment"></textarea>
			</div>
			<button class="ui button blue submit labeled icon">
				<i class="icon edit"></i> Reply
			</button>
		</form>
	</section>
	#{/list}

</section>