
<h2 class="ui header">
	<i class="users icon"></i> SpaceBook's Members
</h2>

<section class="ui segment">



	<div class="ui middle aligned divided animated list">
		#{list items:users, as:'user'}

		<div class="item">

			<div class="right floated content">
				<a href="/members/follow/${user.id}">
					<button class="small ui blue button">Follow</button>
				</a>
				
				<a href="/publicblog/${user.id}">
					<button class="small ui green button">Blog</button>
				</a>

			</div>

			<img class="ui avatar image"
				src="/public/images/${user.firstName}.gif">

			<div class="content">
				${user.firstName} ${user.lastName} <br> Status:
				${user.statusText} <br>
			</div>

		</div>
		#{/list}
	</div>

</section>