<section class="ui segment">
<!--   <a href="/editprofile" class="ui button"> Edit </a> -->
  <div class="ui medium image">
    <label class="ui ribbon label">Profile Image</label>
    <img src="/profile/getpicture/${user.id}">
  </div>  
  <section class="ui raised form segment">
    <form action="/profile/uploadpicture/${user.id}" method="post" enctype="multipart/form-data">     
      <div class="ui field">
        <input type="file" name="picture">  </input> 
     </div>     
     <button class="ui blue submit button"> Upload</button>       
    </form>        
  </section>
  <div class="ui medium image">
    <label class="ui ribbon label">Thumbnail Image</label>
    <img src="/profile/getthumbnail/${user.id}">
  </div>
  <section class="ui raised form segment">
    <form action="/profile/uploadthumbnail/${user.id}" method="post" enctype="multipart/form-data">     
      <div class="ui field">
        <input type="file" name="picture">  </input> 
     </div>     
     <button class="ui blue submit button"> Upload</button>       
    </form>        
  </section>      
</section>  
