<!DOCTYPE html>
<html>

<body>
	#{extends 'main.html' /} #{set title:'Spacebook' /}

	<nav class="ui stackable menu">

		<div class="item">
			<a href="/home"> <img class="ui middle aligned small image"
				src="/public/images/spacebook.png" alt="Spacebook Logo">
			</a>
		</div>

		<a class="ui item" href="/home">Return Home</a>

		<div class="right menu">
			<a class="ui item" href="/login">Logout</a>
		</div>


	</nav>



	<div class="ui column">#{include "components/displayposts.html" /}</div>

</body>
</html>