#{extends 'main.html' /}
#{set title:'Welcome to Spacebook' /}

<nav class="ui stackable menu">
  
  <div class="item">
  <a href="/home">
    <img class="ui middle aligned small image" src="/public/images/spacebook.png" alt="Spacebook Logo">
  </a>
  </div>
  
  <a class="ui item" href="/signup"> Signup</a>

  <a class="ui item" href="/login"> Login</a>

</nav>

<section class="ui raised segment">
  <p> Signup or Log in to the Spacebook Service </p>
</section>

<section class="ui raised segment">
  <p> Current Blogs: </p>
</section>

