#{extends 'main.html' /}
#{set title:'Signup for Spacebook' /}

<nav class="ui stackable menu">
  
  <div class="item">
  <a href="/home">
    <img class="ui middle aligned small image" src="/public/images/spacebook.png" alt="Spacebook Logo">
  </a>
  </div>
  
  <a class="ui item" href="/signup"> Signup</a>

  <a class="ui item" href="/login"> Login</a>

</nav>

<section class="ui middle aligned grid raised form segment">
  <div class="column">
	  <form action="/register" method="POST">
	    <div class="two fields">
	      <div class="field">
	        <label>First Name</label>
	        <input placeholder="First Name" type="text" name="firstName">
	      </div>
	      <div class="field">
	        <label>Last Name</label>
	        <input placeholder="Last Name" type="text" name="lastName">
	      </div>
	    </div>
	    <div class="two fields">
	      <div class="field">
	        <label>Nationality</label>
	        <input placeholder="Nationality" type="text" name="nationality">
	      </div>
	      <div class="field">
	        <label>Age</label>
	        <input placeholder="Age" type="text" name="age">
	      </div>
	    </div>    <div class="field">
	      <label>Email</label>
	      <input placeholder="Email" type="text" name="email">
	    </div>
	    <div class="field">
	      <label>Password</label>
	      <input type="password" name="password">
	    </div>
	    <button class="ui blue submit button">Submit</button>
	  </form>
	</div>
	
</section>  

<div class="ui center aligned segment">
  	Already have an Account?<a href="/login">  Login</a>
</div>